<div
  class="grid grid-cols-[repeat(auto-fill,_minmax(min(20rem,_100%),_1fr))] gap-4"
>
  <div
    class="border-border/65 bg-background before:bg-muted relative aspect-video w-full overflow-hidden rounded-md border before:absolute before:-top-1/2 before:-left-1/2 before:z-10 before:size-full before:rounded-full before:blur-3xl before:content-['']"
  >
    <div
      class="relative z-20 flex size-full flex-col items-center justify-center text-center"
    >
      <lucide-icon [name]="ListTodoIcon" class="text-muted-foreground size-9" />

      <p class="mt-1 text-xl md:text-2xl">All Todos</p>
      <p class="mt-4 text-4xl font-medium md:text-6xl md:font-semibold">
        {{ totalTasks() }}
      </p>
    </div>
  </div>
  <div
    class="bg-background border-border/65 before:bg-muted relative aspect-video w-full overflow-hidden rounded-md border before:absolute before:-top-1/2 before:-left-1/2 before:z-10 before:size-full before:rounded-full before:blur-3xl before:content-['']"
  >
    <div
      class="relative z-20 flex size-full flex-col items-center justify-center text-center"
    >
      <lucide-icon
        [name]="ListChecksIcon"
        class="text-muted-foreground size-9"
      />

      <p class="mt-1 text-xl md:text-2xl">Completed Todos</p>
      <p class="mt-4 text-4xl font-medium md:text-6xl md:font-semibold">
        {{ totalCompletedTasks() }}
      </p>
    </div>
  </div>
</div>
